@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #083138;
    --foreground: #ededed;
  }
}
*{
  scroll-behavior: smooth;
  scrollbar-width: none;

}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Be Vietnam Pro", sans-serif;;
  transition: 0.2s ease;
  /* animation-name:bgAnimi; */
  /* animation-iteration-count: infinite; */
  /* animation-duration: 3s; */
  /* animation-direction: alternate;
  transition: 1s ease; */

}

@keyframes bgAnimi{
  0%{
    background-color:linear-gradient(#15454e,#0F697B) ;
  /* background: linear-gradient(to right, var(--background) , #166B7C); */

    transition: 1s ease;
  }

  100%{
      background-color: #063944;
      transition: 1s ease;
  }
}